################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GatekeeperX/FileContentIndex/20eb1ccf-da04-4838-b1f8-83abe1ea8ab8.vsidx
/.vs
